body {
font-family: Times New roman, serif;
background-color: #f0f0f0;
margin: 0;
padding: 20px;
}
.h2 {
font-family: freestyle script, cursive;
background-color: #f0f0f0;
margin: 0;
padding: 20px;
}
h1 {
font-family: calibri, sans-serif;
background-color: #f0f0f0;
margin: 0;
padding: 20px;
}
#highlight {
background-color: yellow;
}